:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #333333, #f84018);
  padding: 0;
  font-family: 'montserrat';

  h3{
    color: rgb(253, 253, 253);
  }

  button{
    min-width: 200px;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: #141414;
    color: #f84018;
    cursor: pointer;
    margin-top: 5px;
  }
}